<div class="navbar-fixed hide-on-small-only" id="contact-nav">
    <nav class="main-color-text white">
        <div class="nav-wrapper valign-wrapper">
            <a href="/" class="brand-logo left center-align">
                {{#if @root.platform.logo}}
                    <img src="/media/{{@root.platform.logo}}" alt="logo">
                {{/if}}
            </a>
            <div class="center-region hide-on-small-only">
                <a href="mailto:{{@root.platform.contact_email}}">{{@root.platform.contact_email}}</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/#properties-view">Properties</a></li>
                <li><a href="/#about-us">About Us</a></li>
            </ul>
            </div>
            <div class="nav-call-pill valign-wrapper">
                <i class="material-icons main-color-text">call</i>
                <a class="white" href="tel:{{@root.platform.contact_mobile}}">{{@root.platform.contact_mobile}}</a>
            </div>
        </div>
    </nav>
</div>
<div class="navbar-fixed hide-on-med-and-up" id="nav-contact-mobile">
    <nav class="main-color white-text">
        <div class="nav-wrapper valign-wrapper">
            <a href="mailto:{{@root.platform.contact_email}}">{{@root.platform.contact_email}}</a>
            <div class="center-region hide-on-small-only">
                <a href="/" class="brand-logo">Agent</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/#properties-view">Properties</a></li>
                <li><a href="/#about-us">About Us</a></li>
            </ul>
            </div>
            <div class="nav-call-pill valign-wrapper">
                <i class="material-icons white-text main-color">call</i>
                <a class="white-text main-color" href="tel:{{@root.platform.contact_mobile}}">{{@root.platform.contact_mobile}}</a>
            </div>
        </div>
    </nav>
</div>
<div class="navbar-fixed hide-on-med-and-up" id="navbar-mobile">
    <nav class="main-color-text white">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo left">
            </a>
            <ul class="right">
                <li><a href="/">Home</a></li>
                <li><a href="/#properties-view">Properties</a></li>
                <li><a href="/#about-us">About Us</a></li>
            </ul>
        </div>
    </nav>
</div>