<section id="create-listing">
    <div class="container">
        {{#if (not @root.data.project)}}
            <div class="row marginalize-vertical">
                <div class="col m3">
                    <p>Currently Creating:</p>
                </div>
                <div class="col m3">
                    <select id="listing-creation">
                        <option value="/cms/listings/create/single-listing" selected="selected">Single Listing</option>
                        <option value="/cms/listings/create/detailed-listing">Detailed Listing</option>
                    </select>
                </div>
            </div>
        {{/if}}
        <form action="{{#if @root.data.project}}/cms/listings/edit-project{{else}}/cms/listings/create-single{{/if}}" method="post">
            {{#if @root.data.project}}
                <input type="hidden" name="projectId" value="{{@root.data.project._id}}">
                <input type="hidden" name="createType" value="{{@root.data.project.creation_type}}">
            {{/if}}
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Name:</p>
                </div>
                <div class="col s12 m8">
                    <input type="text" name="name" id="name" placeholder="Property name" value="{{@root.data.project.name}}">
                </div>
            </div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Description:</p>
                </div>
                <div class="col s12 m8">
                    <textarea name="description" id="description" placeholder="Property description">{{@root.data.project.description}}</textarea>
                </div>
            </div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Type:</p>
                </div>
                <div class="col s12 m8">
                    <input type="text" name="type" id="type" placeholder="Property type" value="{{@root.data.project.property_type}}">
                </div>
            </div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Address:</p>
                </div>
                <div class="col s12 m8">
                    <input type="text" name="address" id="address" placeholder="Property street address" value="{{@root.data.project.street_address}}">
                </div>
            </div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Coordinates:</p>
                </div>
                <div class="col s6 m4 input-field">
                    <input type="text" name="coordinates[latitude]" id="latitude" value="{{@root.data.project.coordinates.latitude}}">
                    <label for="latitude">Latitude</label>
                </div>
                <div class="col s6 m4 input-field">
                    <input type="text" name="coordinates[longitude]" id="longitude" value="{{@root.data.project.coordinates.longitude}}">
                    <label for="longitude">Longitude</label>
                </div>
            </div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Postcode:</p>
                </div>
                <div class="col s12 m8">
                    <input type="text" name="postcode" id="postcode" placeholder="Property postcode" value="{{@root.data.project.postcode}}">
                </div>
            </div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>City:</p>
                </div>
                <div class="col s12 m8">
                    <input type="text" name="city" id="city" placeholder="City" value="{{@root.data.project.city}}">
                </div>
            </div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>State:</p>
                </div>
                <div class="col s12 m8">
                    <input type="text" name="state" id="state" placeholder="State" value="{{@root.data.project.state}}">
                </div>
            </div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Country:</p>
                </div>
                <div class="col s12 m8">
                    <input type="text" name="country" id="country" placeholder="Country" value="{{@root.data.project.country}}">
                </div>
            </div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Managing for:</p>
                </div>
                <div class="col s12 m8">
                    <input type="text" name="managing_for" id="managing-for" placeholder="Property is managed for" value="{{@root.data.project.managing_for}}">
                </div>
            </div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Additional Information</p>
                </div>
                <div class="col s12 m8">
                    <textarea name="additional_info" id="additional_info" placeholder="Additional information">{{@root.data.project.additional_info}}</textarea>
                </div>
            </div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Slider photos:</p>
                </div>
                <div class="col s12 m8">
                    <div class="file-input-btn" data-file-type="photo" data-file-count="10" data-file-constraints="size:1280x720" data-input-name="slider_photos">
                        <i class="material-icons">insert_photo</i>
                        <p>Insert Photos</p>
                        {{#each @root.data.project.slider_photos}}
                            <input type="hidden" name="slider_photos[]" value="{{this}}">
                        {{/each}}
                    </div>
                    {{#if @root.data.project.slider_photos}}
                        <div class="thumbnail-container">
                            {{#each @root.data.project.slider_photos}}
                                <img src="/cms/media/{{this}}" alt="{{@index}}" class="thumbnail">
                            {{/each}}
                        </div>
                    {{/if}}
                    {{> cms/components/pop-up-button message="For gallery slider, the size of the photo must be of dimension 1280x720" icon="help"}}
                </div>
            </div>
            <div class="divider"></div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Photo Gallery:</p>
                </div>
                <div class="col s12 m8">
                    <div class="file-input-btn" data-file-type="photo" data-file-count="infinity" data-input-name="photos">
                        <i class="material-icons">burst_mode</i>
                        <p>Insert Photos</p>
                        {{#each @root.data.project.photos}}
                            <input type="hidden" name="photos[]" value="{{this}}">
                        {{/each}}
                    </div>
                    {{#if @root.data.project.photos}}
                        <div class="thumbnail-container">
                            {{#each @root.data.project.photos}}
                                <img src="/cms/media/{{this}}" alt="{{@index}}" class="thumbnail">
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="divider"></div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Video Gallery:</p>
                </div>
                <div class="col s12 m8">
                    <div class="file-input-btn" data-file-type="video" data-file-count="infinity" data-input-name="videos">
                        <i class="material-icons">videocam</i>
                        <p>Insert Videos</p>
                        {{#each @root.data.project.videos}}
                            <input type="hidden" name="videos[]" value="{{this}}">
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row marginalize-vertical">
                <div class="col s12 m4">
                    <p>Documents/Brochures:</p>
                </div>
                <div class="col s12 m8">
                    <div class="file-input-btn" data-file-type="any" data-file-count="infinity" data-input-name="documents">
                        <i class="material-icons">insert_drive_file</i>
                        <p>Insert Files</p>
                        {{#each @root.data.project.documents}}
                            <input type="hidden" name="documents[]" value="{{this}}">
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col s12 m4">
                    <p>Property Information:</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6 m3 input-field">
                    <input type="number" name="bathrooms" id="bathrooms" value="{{makeRangeOrSingle @root.data.project.metadata.bathrooms.min @root.data.project.metadata.bathrooms.max}}">
                    <label for="bathrooms">Bathrooms</label>
                </div>
                <div class="col s6 m3 input-field">
                    <input type="number" name="bedrooms" id="bedrooms" value="{{makeRangeOrSingle @root.data.project.metadata.bedrooms.min @root.data.project.metadata.bedrooms.max}}">
                    <label for="bedrooms">Bedrooms</label>
                </div>
                <div class="col s6 m3 input-field">
                    <input type="number" name="parkings" id="parkings" value="{{makeRangeOrSingle @root.data.project.metadata.parkings.min @root.data.project.metadata.parkings.max}}">
                    <label for="parkings">Parkings</label>
                </div>
                <div class="col s6 m3 input-field">
                    <input type="text" name="sqft" id="sqft" value="{{makeRangeOrSingle @root.data.project.metadata.sqft.min @root.data.project.metadata.sqft.max}}">
                    <label for="sqft">Square Feet</label>
                </div>
                <div class="row marginalize-vertical">
                    <div class="col s12 m4">
                        <p>Price</p>
                    </div>
                    <div class="col s12 m8">
                        <input type="text" name="price" id="price" placeholder="Price" value="{{@root.data.project.metadata.price}}">
                    </div>
                </div>
                <div class="row marginalize-vertical">
                    <div class="col s12 m4">
                        <p>Status</p>
                    </div>
                    <div class="col s12 m8">
                        <select name="status" id="status">
                                <option value="available" {{#if (equals @root.data.project.metadata.status "available")}}selected{{/if}}>Available</option>
                                <option value="sold" {{#if (equals @root.data.project.metadata.status "sold")}}selected{{/if}}>Sold</option>
                                <option value="reserved" {{#if (equals @root.data.project.metadata.status "reserved")}}selected{{/if}}>Reserved</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col s12 marginalize-vertical">
                <button type="submit" class="btn-large green"><i class="material-icons left">check</i>Save and Upload</button>
            </div>
        </form>
    </div>
</section>
{{> cms/popup}}
{{> cms/gallery-modal}}